
  button,
  div,
  form,
  input {
    font-style: italic;
    font-size: 20px;
    margin: 10px;
    
  }

body {
        background-image:url('background.gif');
        background-size:100%;
        background-repeat: repeat-y;
        background-attachment: fixed;
        
    }


  .animal-image {
      border: 2px solid lightgoldenrodyellow;
      border-radius: 8px;
      float: left;
  }
 

  @media screen and (min-width:980px)
{
  #gifs-appear-here{
    width: 100%;
    max-width: 980px;
    padding-left: 30px;
  }
}

@media screen and (max-width:980px) and (min-width:768px)
{
  #gifs-appear-here
  {
     width: 100%;
     max-width:768px;
     padding-left: 5px;
  }  
}


@media screen and (max-width:768px) and (min-width:640px)
{
  #gifs-appear-here
  {
     width: 100%;
     max-width:640px;
     padding-left: 5px;
  }  
}

@media screen and (max-width:640px)
{
  #gifs-appear-here
  {
     width: 100%;
     max-width:640px;
     padding-left: 0px;
  }  
}
